/rebar

/tmp/
/releases

/deps/node_package/
/deps/azdht/
/deps/cascadae/
/deps/certifi/
/deps/cowboy/
/deps/crypto2/
/deps/edown/
/deps/etorrent_core/
/deps/goldrush/
/deps/gproc/
/deps/hackney/
/deps/idna/
/deps/jsx/
/deps/lager/
/deps/lhttpc/
/deps/lists2/
/deps/mdns/
/deps/meck/
/deps/mimerl/
/deps/mimetypes/
/deps/mochiweb/
/deps/parse_trans/
/deps/proper/
/deps/ranch/
/deps/rlimit/
/deps/seqbind/
/deps/socketio/
/deps/ssl_verify_hostname/
/deps/upnp/

/bin/*.boot
/bin/*.script

/lib/*/ebin/
/lib/*/priv/mibs/

/erts-[0-9].[0-9]/
/erts-[0-9].[0-9].[0-9]/
/erts-[0-9].[0-9][0-9].[0-9]/
/erts-[0-9].[0-9].[0-9].[0-9]/

.eunit
*.o
*.beam
*.plt
