%% -*- mode: erlang -*-
%% See https://github.com/erlang/otp/blob/maint/lib/reltool/src/reltool.hrl
%% for default filters when using profile embedded

{builderl,
 [{boot_version, "etorr-0.0.1"},
  {setup_config, {"cmd", deploy, cmd_config}},
  {release_types,
   [{ett, "etorr", "ett", undefined, 0}]},
  {default_nodes, ["ett"]}
 ]
}.

{config,
 {sys,
  [{lib_dirs, ["lib", "deps"]},
   {incl_cond, exclude},
   {excl_archive_filters, [".*"]},

   {app, kernel,          [{incl_cond, include}]},
   {app, stdlib,          [{incl_cond, include}]},
   {app, sasl,            [{incl_cond, include}]},
   {app, deploy,          [{incl_cond, include}]},
   {app, builderl,        [{incl_cond, include}]},

   {rel, "cmd", "etorr-0.0.1",
    [kernel,
     stdlib,
     sasl,
     deploy
    ]},

   {boot_rel, "cmd"},
   {profile, embedded}
  ]}
}.

{config,
 {sys,
  [{lib_dirs, ["lib", "deps"]},
   {incl_cond, exclude},
   {excl_archive_filters, [".*"]},

   {app, kernel,         [{incl_cond, include}]},
   {app, stdlib,         [{incl_cond, include}]},
   {app, sasl,           [{incl_cond, include}]},
   {app, asn1,           [{incl_cond, include}]},
   {app, compiler,       [{incl_cond, include}]},
   {app, goldrush,       [{incl_cond, include}]},
   {app, lager,          [{incl_cond, include}]},
   {app, syntax_tools,   [{incl_cond, include}]},
   {app, crypto,         [{incl_cond, include}]},
   {app, public_key,     [{incl_cond, include}]},
   {app, ssl,            [{incl_cond, include}]},
   {app, inets,          [{incl_cond, include}]},
   {app, cowboy,         [{incl_cond, include}]},
   {app, ranch,          [{incl_cond, include}]},
   {app, crypto2,        [{incl_cond, include}]},
   {app, certifi,        [{incl_cond, include}]},
   {app, idna,           [{incl_cond, include}]},
   {app, gproc,          [{incl_cond, include}]},
   {app, rlimit,         [{incl_cond, include}]},
   {app, hackney,        [{incl_cond, include}]},
   {app, mimerl,         [{incl_cond, include}]},
   {app, upnp,           [{incl_cond, include}]},
   {app, etorrent_core,  [{incl_cond, include}]},
   {app, socketio,       [{incl_cond, include}]},
   {app, jsx,            [{incl_cond, include}]},
   {app, mimetypes,      [{incl_cond, include}]},
   {app, cascadae,       [{incl_cond, include}]},

   {rel, "etorr", "etorr-0.0.1",
    [kernel,
     stdlib,
     sasl,
     etorrent_core,
     cascadae
    ]},

   {boot_rel, "etorr"},
   {profile, embedded}
  ]}
}.
